.DS_Store
Thumbs.db
bin
obj
gen
*.suo
*.user
*.xcworkspace
xcuserdata
*.sdf
*.opensdf
Projects/iOS/XcodeBuiltAssets
Projects/Windows/csobj
Projects/Windows/csbin
Projects/Android/cstest/local.properties
Projects/Android/cstest/.gradle
Projects/Android/cstest/.idea/workspace.xml
Projects/Android/cstest/.idea/libraries
Projects/Android/cstest/app/build
Projects/Android/cstest/app/src/main/assets
Projects/Android/cstest/app/src/main/libs/armeabi-v7a
Projects/Android/cstest/app/src/main/libs/armeabi
Projects/Android/cstest/app/src/main/libs/x86
Projects/Android/cstest/build
*.pyc
