################################
# Visual Studio Ignore Files
################################
Projects/Windows/Build/
.vs/
*.user
*.opensdf
*.opendb
*.sdf
*.db

################################
# XCode Ignore Files
################################
xcuserdata/
Projects/iOS/XcodeBuiltAssets/
*.xcscmblueprint

################################
# Android Studio Ignore Files
################################
Projects/Android/cstest/.gradle/
Projects/Android/cstest/.idea/libraries/
Projects/Android/cstest/app/build/
Projects/Android/cstest/app/src/main/assets/
Projects/Android/cstest/app/src/main/libs/armeabi-v7a/
Projects/Android/cstest/app/src/main/libs/armeabi/
Projects/Android/cstest/app/src/main/libs/arm64-v8a/
Projects/Android/cstest/app/src/main/libs/x86/
Projects/Android/cstest/app/src/main/libs/x86_64/
Projects/Android/cstest/build/
Projects/Android/cstest/local.properties
Projects/Android/cstest/.idea/workspace.xml

################################
# General Ignore Files
################################
bin/
obj/
.DS_Store
Thumbs.db
*.pyc